.ui.form > * {
    margin-top: 10px;
}

canvas {
    display: block;
    width: 100%;
}

.cv,
.title {
    top: 0;
    left: 0;
}

.cv {
    position: absolute;
    background: radial-gradient(circle, #fcdabb, #f7c386);
    z-index: 1;
}